<div id="data-list">
    {{#allPoints}}
        <ul class="list-group">
            <li class="list-group-item"> {{nickname}} | ({{point.x}}, {{point.y}})</li>
        </ul>
    {{/allPoints}}
</div>
